<div [ngClass]="isHighlighted()?'one-hour-block highlighted':'one-hour-block'" >
  <button class="clickable-bg" (click)="setSelectedOfFullHour()"></button>
  <div class="block-infos">
    <p>{{index()}} - {{index()+1}} Uhr</p>
  </div>
  <div class="chart">
    @for(quarterHour of quarterHourValues();track $index){
    <button [ngClass]="{
      'bar':true,
      'change-allowed':quarterHourEditAllowed()[$index],
      'selected':quarterHoursSelection()[$index]
    }" [ngStyle]="{'height':quarterHourValuesAsPercentages()[$index]+'%'}" (click)="toggleQuarterHourSelection($index)" >
    </button>
    }
  </div>
</div>