<button class="one-hour-block" (click)="setSelectedOfFullHour(true)" >
  <div class="block-infos">
    <p>{{hour()}} - {{hour()+1}} Uhr</p>
  </div>
  <div class="chart">
    @for(quarterHour of quarterHourValues();track $index){
    <button [ngClass]="{
      'bar':true,
      'change-allowed':quarterHourChangeAllowed()[$index],
      'selected':quarterHoursSelection()[$index]
    }" [ngStyle]="{'height':quarterHourValuesAsPercentages()[$index]+'%'}" (click)="toggleQuarterHourSelection($index)" >
    </button>
    }
  </div>
</button>