$chart-height:70px;
$color-selected:var(--primary-color);
$color-highlighted:#ffd4bb;
$color-not-editable:var(--gray-300);
$color-editable:var(--gray-700);


.one-hour-block {
  width: calc(100%);
  width: calc(100%);
  padding: var(--space-3);
  border-radius: var(--radius-m);
  position: relative;
  box-shadow: var(--box-shadow-std);
  border: solid 1px var(--gray-100);
  transition: 0.4s border, 0.4s box-shadow;

  &.highlighted{
    border: solid 1px var(--gray-300);
    box-shadow: var(--box-shadow-strong);

    .chart{
      .bar{
        &.edit-allowed{
          background-color: $color-highlighted;
        }

        &.selected {
          background-color: $color-selected;
        }
      }
    }
  }

  .clickable-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .block-infos {
    p {
      color: var(--gray-300);
    }
  }

  .chart {
    width: 100%;
    height: $chart-height;
    display: flex;
    align-items: flex-end;
    border-bottom: solid 1px var(--gray-300);
    position: relative;
    z-index: 2;
    pointer-events: none;

    .bar {
      width: calc(100% / 4 - var(--space-1) * 2);
      margin: 0px var(--space-1);
      background-color: $color-not-editable;
      transition: 0.4s height, 0.4s background-color;
      pointer-events: all;

      &.edit-allowed {
        background-color: $color-editable;
      }

      &.selected {
        background-color: $color-selected;
      }
    }
  }
}