<div class="grid-header">
  @for(ind of [].constructor(4);track $index){
  <button class="header-item" (click)="selectCol($index)">
    <p class="mb-0">col {{$index+1}}</p>
  </button>
  }
</div>
<div class="one-day-grid">
  @for(quarterHouerValues of oneDayData().prices;track $index){
  @if($index%4===0){
  <button class="row-info-item" (click)="selectRow($index/4)">
    <p class="mb-0 fw-bolder">{{$index}} - {{$index+4}} Uhr</p>
    <p>Max {{rowBounds()[$index/4].max}}, Min {{rowBounds()[$index / 4].min}}</p>
  </button>
  }
  <div class="one-hour-container">
    <!-- One hour block -->
    <app-one-hour-block [index]="$index" [quarterHourValues]="quarterHouerValues"
      [quarterHourChangeAllowed]="quarterHourChangeAllowed()[$index]"
      [quarterHoursSelection]="quarterHoursSelection()[$index]" [maxInterdayValue]="maxInterdayValue()"
      (quarterHoursSelectionChange)="onOneHourQuarterHoursSelecionChange($event,$index)"></app-one-hour-block>

    <!-- quartet selector -->
    @if(!($index%itemsPerRow===3)){
    @if($index<20){ <button class="quartet-selector special-selector" (click)="selectQuartet($index)">
      <div class="special-selector-visualisation"></div>
      </button>
      }


      <!-- dual selector horizontal-->
      <div class="dual-selector-horizontal-container">
        <button class="dual-selector-horizontal special-selector" (click)="selectTwoHorizontal($index)">
          <div class="special-selector-visualisation"></div>
        </button>
      </div>
      }

      <!-- dual selector vertical-->
      @if($index<20){ <div class="dual-selector-vertical-container">
        <button class="dual-selector-vertical special-selector" (click)="selectTwoVertical($index)">
          <div class="special-selector-visualisation"></div>
        </button>
  </div>
  }

</div>
}
</div>