<section>
  <div class="container">
    <div class="row py-5 my-5">
      <div class="col-12 d-flex justify-content-end">
        <mat-form-field class="w-50">
          <mat-label>Preis Eingabe für ausgewählte Viertelstunden</mat-label>
          <input matInput type="number" [min]="0" [(ngModel)]="price" (input)="onPriceInputChange()">
        </mat-form-field>
      </div>
      <div class="col-12">
        <app-one-day-grid [oneDayData]="currentSelectedDayData()" ></app-one-day-grid>
      </div>
    </div>
  </div>
</section>